.feature-section {
    background: radial-gradient(ellipse at top left, #FFD6D6, white, transparent),
        radial-gradient(ellipse at bottom right, #54BD95, white, transparent);
}

.feature-section-header {
    display: flex;
    align-items: center;
    width: 1180px;
    justify-content: space-between;
    padding-left: 130px;
}

.feature-header-text p {
    font-weight: 600;
    font-size: 50px;
    width: 331px;
}

.feature-header-subtext p {
    font-size: 18px;
    color: #A6A6A6;
    width: 441px;
}

.feature-start-button {
    width: 162px;
    height: 66px;
    border-radius: 70px;
    border: 0;
    background-color: #54BD95;
    color: white;
    font-size: 18px;
}

.feature-card-section {
    display: flex;
    width: 1180px;
    gap: 70px;
    padding-left: 50px;
}

.card {
    width: 364px;
    height: 430px;
    border-radius: 20px;
    margin: 2%;
}

.card img {
    width: 364px;
    height: 430px;
    object-fit: cover;
    border-radius: 20px;
}

.card-text {
    padding-left: 20px;
}

.card-text p {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}

.card-subtext p {
    font-size: 18px;
    color: #A6A6A6;
    width: 340px;
    line-height: 30px;
}

@media (max-width: 576px) {

    .feature-section-header {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        width: 100%;
    }

    .feature-header-text p {
        line-height: 0px;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        width: 365px;
    }

    .feature-header-subtext p {
        line-height: 20px;
        font-size: 14px;
        color: #A6A6A6;
        width: 283px;
        text-align: center;
        margin: 0px;
    }

    .feature-start-button {
        width: 100px;
        height: 30px;
        border-radius: 70px;
        border: 0;
        background-color: #54BD95;
        color: white;
        margin: 20px 0px 20px 0px;
        font-size: 15px;
    }

    .feature-card-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding-left: 0px;
        align-items: center;
        padding-bottom: 20px;
    }
    .card {
        width: 364px;
        height: 360px;
        border-radius: 20px;
        margin: 0;
    }
    .card img {
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
    }

    .card-text {
        padding-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){

    .feature-section-header {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        width: 100%;
    }

    .feature-header-text p {
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        width: 485px;
    }

    .feature-header-subtext p {
        line-height: 35px;
        font-size: 25px;
        color: #A6A6A6;
        width: 515px;
        text-align: center;
        margin: 0px;
    }

    .feature-start-button {
        width: 150px;
        height: 50px;
        border-radius: 70px;
        border: 0;
        background-color: #54BD95;
        color: white;
        margin: 20px 0px 20px 0px;
        font-size: 15px;
    }

    .feature-card-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding-left: 0px;
        align-items: center;
        padding-bottom: 20px;
    }
    .card {
        width: 364px;
        height: 360px;
        border-radius: 20px;
        margin: 0;
    }
    .card img {
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
    }

    .card-text {
        padding-top: 40px;
    }

}

@media (min-width: 768px) and (max-width: 1024px){
    .plan-card-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px !important;
        width: 100% !important;
    }
}