.group-4 {
    display: flex;
    gap: 150px;
    background: radial-gradient(ellipse at bottom right, #54BD95, white, transparent);
    height: 100%;
}

.main-one {
    width: 100%;
    max-width: 471px;
    padding-left: 130px;
}

.services p {
    width: 429px;
    font-weight: bold;
    font-size: 50px;
}

.p-text p {
    font-size: 18px;
    color: #191A15;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 5px;
    align-items: center;
}

.right-image {
    height: 32px;
    width: 32px;
}

.main-2 {
    margin-top: 50px;
}

.sec-img {
    position: relative;
    height: 529px;
    width: 450px;
}

.save-money {
    position: absolute;
    top: 2600px;
    left: 670px;
    width: 304px;
    height: 82px;
}

.total-income {
    position: absolute;
    top: 2650px;
    left: 1100px;
    width: 138px;
    height: 70px;
}

.gal-img {
    position: absolute;
    top: 2800px;
    left: 680px;
    width: 40px;
    height: 40px;
}

.trans-img {
    position: absolute;
    top: 3020px;
    left: 670px;
    width: 302px;
    height: 68px;
}

@media (min-width: 400px) and (max-width: 576px) {
    .group-4 {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        gap: 0px;
    }

    .main-one {
        padding-left: 30px;
    }

    .main-2 {
        margin-top: 0px;
    }

    .services p {
        width: 367px;
        font-weight: bold;
        font-size: 30px;
    }

    .p-text p {
        font-size: 14px;
        color: #191A15;
    }

    .sec-img {
        width: 300px;
        height: 400px;
        display: block;
        margin: 0 auto;
    }

    .side-image {
        display: none;
    }
}