body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    width: 100%;
    height: 100%;
}

.hero-section {
    background: radial-gradient(ellipse at top left, #52BDAA, white, transparent),
        radial-gradient(ellipse at top, #FFD6D6, transparent),
        radial-gradient(ellipse at bottom right, #52BDAA, white, transparent);
}

.hero-section-header {
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
}

.nav-links {
    display: flex;
    width: 408px;
    padding-left: 350px;
    list-style-type: none;
    
}

.nav-links li {
    padding-left: 20px;
    text-wrap: nowrap;
}

.nav-links a {
    font-size: 16px;
    color: #A6A6A6;
    text-decoration: none;
}

.nav-links a:hover {
    color: black;
}

.login {
    display: flex;
    gap: 20px;
    padding-left: 100px;
    align-items: center;
}

.login ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.login a {
    font-size: 16px;
    color: #A6A6A6;
    text-decoration: none;
}

.login a:hover {
    color: black;
    font-size: 18px;
}

.hamburger{
    display: none;
    font-size: 30px;
}

.signupbtn {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: #54BD95;
    color: white;
}
.hero-section-text {
    display: flex;
    align-items: center;
    gap: 180px;
    width: 100%;
}

.productivity-section {
    width: 100%;
}

.productivity-text {
    padding-left: 130px;
    width: 555px;
    font-weight: bold;
    font-size: 80px;
    line-height: 90px;
}

.productivity-subtext{
    padding: 20px 0px 0px 130px;
    width: 461px;
    font-size: 18px;
    line-height: 30px;
}

.productivity-buttons {
    display: flex;
    gap: 50px;
}

.trial-btn {
    margin: 30px 0px 0px 130px;
    width: 165px;
    height: 62px;
    border-radius: 40px;
    border: 0;
    background-color: #54BD95;
    color: white;
    font-size: 18px;
}

.view-btn {
    display: flex;
    margin-top: 30px;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 18px;
    padding: 0%;
}

.view-btn img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.hero-section-image {
    display: flex;
    position: relative;
    width: 100%;

}

.section-img {
    width: 402px;
    height: 526px;
}

.value-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 400px;
    width: 262px;
    height: 78px;
    border-radius: 10px;
    background-color: white;
}

.main-content {
    display: flex;
}

.text-box {
    font-size: 12px;
    color: #A9A7B6;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 18px;
}

.value-text {
    width: 100%;
    margin-left: 15px;
}

input {
    border: 0;
    border-bottom: 1px solid #EEEEEE;
    background: transparent;
    font-size: 16px;
}

.send-btn {
    position: absolute;
    left: 1px;
    top: 55px;
    width: 64px;
    height: 28px;
    border-radius: 40px;
    border: 0;
    background-color: #54BD95;
    color: white;
    font-size: 13px;
}

.credit-card-img  {
    position: absolute;
    top: 330px;
    left: 330px;
    width: 146px;
    height: 186px;
}

.yellow-block-image {
    position: absolute;
    top: 20px;
    left: 390px;
    width: 60px;
    height: 60px;
}

.pink-msg-image {
    position: absolute;
    top: 510px;
    left: 300px;
    width: 40px;
    height: 40px;
}

.blue-tick-image {
    position: absolute;
    top: 240px;
    right: 490px;
    width: 40px;
    height: 40px;
}

.total-income-image {
    position: absolute;
    top: 420px;
    right: 420px;
    width: 138px;
    height: 70px;
}

.hero-section-company p {
    text-align: center;
    padding-top: 40px;
    font-weight: 600;
    font-size: 30px;
}

.company-logo-bar {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    gap: 40px;
    padding-bottom: 80px;
}

/* Media Query for Mobile Devices */
@media (min-width: 400px) and (max-width: 576px) {
    body {
        margin: 0;
        padding: 0;
    }
  

    .hero-section-header {
        padding: 0 10px;
    }

    .main-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: relative;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100px;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0px;
        right: 10px;
    }

    .navbar.open {
        display: flex;
        background-color: white;
        width: 200px;
        border-radius: 10px;
        height: 250px;
        margin-left: 212px;

    }

    .nav-links {
        flex-direction: column;
        padding-left: 0;
        width: 100px;
        margin: 0 auto;
       


    }

    .nav-links li {
        line-height: 30px;
        text-align: center;
        width: 100%;
        padding-left: 0px;
    }

    .nav-links a {
        width: 100%;
        padding: 0px;
        line-height: 25px;
        color: #A6A6A6;
        text-decoration: none;
    }

    .nav-links a:hover {
        color: black;
    }

    .login {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0;
    }
    .login ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
        padding:0px;
    }

    .login a {
        font-size: 16px;
        color: #A6A6A6;
        text-decoration: none;
    }

    .signupbtn {
        width: 80px;
        height: 40px;
        font-size: 14px;
    }



    .hero-section-text {
        flex-direction: column;
        gap: 20px;
    }

    .productivity-text{
        padding: 0;
        width: 100%;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
    }

    .curve-img {
        width: 300px;
    }

    .productivity-subtext {
        display: block;
        margin: 0 auto;
        padding: 10px 0;
        width: 400px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .productivity-buttons {
        gap: 10px;
        width: 100%;
    }

    .trial-btn {
        width: 180px;
        height: 50px;
        font-size: 16px;
        margin: 30px;
    }

    .view-btn {
        width: 135px;
        justify-content: center;
    }

    .view-btn img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .hero-section-image {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-image-section {
        width: 300px;
        height: 400px;
        text-align: center;
    }

    .value-box {
        display: none;

    }

    .main-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .text-box,
    .value-text {
        width: 100%;
        text-align: center;
    }

    .send-btn {
        display: none;
        width: 100px;
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
    }

    .section-img {
        width: 402px;
        height: 385px;
    }

    .credit-card-img {
        position: absolute;
        top: 228px;
        left: 287px;
        width: 100px;

    }

    .yellow-block-image {
        position: absolute;
        top: 20px;
        left: 335px;
        width: 40px;
        height: auto;
        margin: 10px 0;
    }

    .pink-msg-image{
        position: absolute;
        left: 270px;
        top: 375px;
        width: 40px;
    }

    .blue-tick-image{
        width: 40px;
    }

    .total-income-image{
        position: absolute;
        width: 100px;
        top: 310px;
        left: 10px;
        height: auto;
        margin: 10px 0;
    }

    .hero-section-company p {
        font-size: 20px;
    }

    .company-logo-bar {
        flex-direction: column;
        gap: 30px;
        width: 250px;
        margin: 0 auto;
    }
}